body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: Poppins;
}

body a {
    all: unset;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.total-container {
    width: 1512px;
    margin: 0 auto;
    position: relative;
    background-color: black;
}

.title-container {
    height: 982px;
    margin: 0 auto;
    position: relative;
    background: url("../images/background.png");
    background-repeat: no-repeat;
}

.sticky {
    position: sticky;
    top: 0;
}

.destinations-title-container {
    height: 944px;
    margin: 0 auto;
    position: relative;
    background: url("../images/destinations-background.png");
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 200px;
}

.menu {
    font-size: 24px;
    list-style-type: none;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 55px;
}

.main-title {
    font-size: 98px;
    font-weight: 700;
    margin: 4px;
    width: 652px;
    line-height: 114.17px;
    text-align: center;
    border: 1px;
}

.main-subtitle {
    font-weight: 400;
    line-height: 23.3px;
    text-align: center;
    size: 20px;
    margin: 0 38px;
}

.main-title-container {
    width: 652px;
    height: 278px;
    margin: 70 auto;
    font-family: Poppins;
    gap: 4px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 120px 70px;
}

.info-div {
    width: 331px;
}

.info-div h2 {
    font-weight: 500;
    font-size: 32px;
    margin: 13px 0;
}

.info-div p {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    width: 309px;
}

.fading {
    width: 100%;
    height: 206px;
    position: absolute;
    background: linear-gradient(transparent, #000);
    bottom: 0;
}

.logo-container {
    width: 1320px;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto 84px;
}

.best-destinations-container {
    margin: 36px auto 0;
    width: 566px;
    gap: 2px;
    text-align: center;
}

.best-destinations-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 46.6px;
    margin: auto;
}

.best-destinations-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.9px;
    margin: 0;
}

.destinations-location-container {
    margin: 53px auto;
    width: 1415px;
    height: 1106px;
    display: flex;
    justify-content: space-between;
    gap: 23px;
}

.destinations-location-side-column {
    width: 476px;
}

.destinations-location-center-column {
    width: 417px;
}

.all-destination-box {
    border-radius: 50px;
    padding: 50px 50px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destinations-location-container div .all-destination-box:first-of-type {
    margin-bottom: 15px;
}

.destinations-location-box-header {
    font-weight: 800;
    font-size: 36px;
    margin: 0;
    line-height: 45px;
}

.destinations-location-box-info {
    font-size: 16px;
    margin: 0;
}

.hisma {
    height: 672px;
    background: url("../images/hisma-desert.png");
}

.tabuk {
    height: 420px;
    background: url("../images/tabuk.png");
}

.al-qarah {
    height: 682px;
    background: url("../images/al-qarah.png");
}

.taif {
    height: 409px;
    background: url("../images/taif.png");
}

.riyadh {
    height: 380px;
    background: url("../images/riyadh.png");
}

.aiuia {
    height: 711px;
    background: url("../images/aiuia.png");
}

.traveler {
    align-items: center;
    height: 81px;
    display: flex;
    gap: 14px;
}

.traveler-img {
    height: 81px;
    width: 81px;
    border-radius: 50%;
}

.traveler-desc {
    font-size: 17px;
    line-height: 21px;
    text-align: left;
}

.traveler-desc p {
    margin: 0;
}

.bold-600 {
    font-weight: 600;
}

.see-more-link {
    text-align: right;
    margin: 57px 54px;
    font-size: 20px;
    line-height: 24.9px;
    text-decoration: underline;
}